/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: var(--sec-clr);
	background: var(--primary-clr);
}

/*********************/
/* FONT FACES */
/*********************/

@font-face {
	/* For the buttons */
	font-family: "MonumentExtended";
	src: url('../fonts/MonumentExtended-Regular.woff2') format('woff2'), ;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
}

@font-face {
	/* For header */
	font-family: "TWKEverett";
	src: url('../fonts/TWKEverett-Medium-web.woff2') format('woff2');
	font-weight: 600;
}

@font-face {
	/* For body text */
	font-family: "TWKEverett";
	src: url('../fonts/TWKEverett-Regular-web.woff2') format('woff2'), ;
	font-weight: 400;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* Font families */
	--ff: 'TWKEverett', sans-serif;
	--ff-btn: 'MonumentExtended', sans-serif;

	/* Font weights */
	--fw-n: 400;
	--fw-m: 600;
	--fw-b: 800;

	/* Font sizes */
	--fs-p: 1em;
	--fs-1: calc(var(--fs-p) * 8);
	--fs-2: calc(var(--fs-p) * 5);
	--fs-3: calc(var(--fs-p) * 4);
	--fs-4: calc(var(--fs-p) * 3);
	--fs-5: calc(var(--fs-p) * 2);
	--fs-6: calc(var(--fs-p) * 1.5);

	/* Line height */
	--lh: 1em;
	--lh-md: 1.6em;


	/* Color scheme */
	--primary-clr: #FF0101;
	--sec-clr: #000;
	--sec-clr-light: #282828;
	--acent-clr: #433c3c;
	--txt-clr: #FFF;

	/* Spacers for margins, gaps or paddings */
	--spacer: 1em;
	--spacer-md: calc(var(--spacer) * 2);
	--spacer-lg: calc(var(--spacer) * 3);

	/* Borders */
	--border-sm: 1px solid var(--acent-clr);
	--border-md: calc(var(--border-sm) * 3) solid var(--acent-clr);
	--border-lg: calc(var(--border-sm) * 5) solid var(--acent-clr);

	--border-sm-red: 1px solid var(--primary-clr);
	--border-md-red: calc(var(--border-sm-red) * 3) solid var(--primary-clr);
	--border-lg-red: calc(var(--border-sm-red) * 5) solid var(--primary-clr);

	/* Cursor */
	--cursor-left: 0;
	--cursor-top: 0;

}

/****************/
/* Typography */
/****************/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff);
	color: var(--txt-clr);
	text-transform: uppercase;
}

h1 {
	font-size: var(--fs-1);
}

h2 {
	font-size: var(--fs-2);
}

h3 {
	font-size: var(--fs-3);
}

h4 {
	font-size: var(--fs-4);
}

h5 {
	font-size: var(--fs-5);
}

h6 {
	font-size: var(--fs-6);
}

p {
	font-family: var(--ff);
	color: var(--txt-clr);
	font-size: var(--fs-p);
	font-weight: var(--fw-n);
}



/**********************************/
/* MEDIA QUERIES DARK/LIGHT THEMES*/
/**********************************/

@media (prefers-color-scheme: dark) {
	body {
		color: var(--txt-clr);
		background: var(--sec-clr);
	}
}



/****************/
/* KEYFRAMES */
/****************/


@keyframes noise {

	0%,
	100% {
		transform: translate(0, 0);
	}

	10% {
		transform: translate(-5%, -10%);
	}

	30% {
		transform: translate(3%, -15%);
	}

	50% {
		transform: translate(12%, 9%);
	}

	70% {
		transform: translate(9%, 4%);
	}

	90% {
		transform: translate(-1%, -7%);
	}
}




/****************/
/* MY STYLING */
/****************/

/* MOUSE */

/* bron: https://jsfiddle.net/ydchauh/4cbk0sq5/ */

.cursor {
	position: fixed;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	background-color: transparent;
	z-index: 99999;
	border: var(--border-sm-red);
	height: 5em;
	width: 5em;
	transition: all 300ms ease-out;
}



/* BODY */

body {
	margin: 0em;
	overflow-x: hidden;
	/* can we? */
}


@media (prefers-reduced-motion:no-preference) {
	body::before {
		content: ' ';
		display: block;
		position: fixed;
		left: -50%;
		top: -50%;
		width: 200vw;
		height: 200vh;
		opacity: 0.3;
		background-image: url(../images/noise.png);
		background-repeat: repeat;
		animation: noise 12s steps(10) infinite;
		overflow: hidden;
		z-index: -100;
	}
}




/* HEADER */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.3em 1em 0 0;
	position: sticky;
	top: 0em;
	z-index: 10000;
}

header>a {
	margin-right: auto;
}

header>a>img {
	width: 2em;
	height: auto;
	margin: 1em;
}

header>ul:first-of-type {
	display: flex;
	justify-content: end;
	list-style-type: none;
	gap: var(--spacer-lg);
	margin-right: var(--spacer-lg);
}

header>ul:first-of-type li a {
	font-family: var(--ff-btn);
	color: var(--txt-clr);
	font-size: calc(var(--fs-p) * 0.8);
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
}

header>ul:first-of-type li a:hover,
header>ul:first-of-type li a:focus {
	color: var(--primary-clr);
}


@media only screen and (max-width: 600px) {
	header>ul:first-of-type {
		display: none;
	}
}

header nav {
	display: flex;
	justify-content: start;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--sec-clr);
	translate: 0% 100%;
	transition: 0.3s;
}


@media (prefers-reduced-motion:no-preference) {
	header nav.showmenu::before {
		content: ' ';
		display: block;
		position: fixed;
		left: -50%;
		top: -50%;
		width: 200vw;
		height: 200vh;
		opacity: 0.3;
		background-image: url(../images/noise.png);
		background-repeat: repeat;
		animation: noise 12s steps(10) infinite;
		overflow: hidden;
		z-index: -1;
	}
}

header nav.showmenu {
	translate: 0% 0%;
}


header button {
	z-index: 100;
	position: relative;
	cursor: pointer;
	background: none;
	border: none;
	height: 2em;
	width: 5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: scaleX(-1);
	margin: var(--spacer);
}


/* Class added = rotateplus  > See script.JS function rule 8/18*/
header button:hover span:nth-of-type(1),
header button:focus span:nth-of-type(1) {
	width: 40%;
}

/* Class added = leave  > See script.JS function rule 8/18*/
header button:hover span:nth-of-type(2),
header button:focus span:nth-of-type(2) {
	width: 60%;
}


/* When class is added (with the JS), dont change the :hover widht anymore */
header button:hover span:nth-of-type(1).rotateplus,
header button:focus span:nth-of-type(1).rotateplus {
	width: 2.7em;
}

/* When class is added (with the JS), dont change the :hover widht anymore */
header button:hover span:nth-of-type(2).leave,
header button:focus span:nth-of-type(2).leave {
	width: 0%;
}


/* Same as :Hover but then > FOR THE FOCUS ON THE BUTTON ANIMATION */

header button:focus span:nth-of-type(1) {
	width: 40%;
}

header button:focus span:nth-of-type(2) {
	width: 60%;
}

header button:focus span:nth-of-type(1).rotateplus {
	width: 2.7em;
}

header button:focus span:nth-of-type(2).leave {
	width: 0%;
}


.rotatemin {
	transform: rotate(-45deg);
	width: 2.7em;
}

.rotateplus {
	transform: rotate(45deg);
	width: 2.7em;
}

.leave {
	width: 0%;
}


header button span {
	height: 1px;
	width: 100%;
	background: var(--txt-clr);
}


header button span:nth-of-type(1) {
	transform-origin: 0%;
	transition: transform 0.4s ease-in-out;
	transition: 0.3s;
}

header button span:nth-of-type(2) {
	transition: transform 0.2s ease-in-out;
	transition: 0.3s;

}

header button span:nth-of-type(3) {
	transform-origin: 0%;
	transition: transform 0.4s ease-in-out;
}



header nav ul {
	/* Menu UL */
	list-style-type: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: var(--spacer-lg);
}

header nav ul li {
	margin-top: var(--spacer);
}

header nav ul li a {
	color: var(--txt-clr);
	font-family: var(--ff);
	font-size: var(--fs-6);
	text-decoration: none;
	transition: 0.3s;
	text-transform: uppercase;
}

header nav ul li a:hover,
header nav ul li a:focus {
	color: var(--primary-clr);
}

header nav section {
	margin: var(--spacer);
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin: 0em;
}

header nav section h2 {
	color: var(--primary-clr);
	margin: 0.2em 0em 0.2em 0.3em;
}

@media only screen and (max-width: 1100px) {
	header nav section h2 {
		font-size: var(--fs-4);
		margin: 0.2em 0em 0.2em 0.8em;
	}
}

@media only screen and (max-width: 700px) {
	header nav section h2 {
		font-size: var(--fs-6);
		margin: 0.2em 0em 0.2em 1.8em;
	}
}


@media (prefers-reduced-motion:no-preference) {
	header nav section marquee {
		order: 4;
	}

	marquee h2 {
		color: var(--primary-clr);
		font-size: var(--fs-1);
		margin: 0.2em 0em 0.2em 0em;
	}

	@media only screen and (max-width: 600px) {
		marquee h2 {
			font-size: var(--fs-4);
		}
	}
}


header nav section a {
	text-decoration: none;
	color: var(--txt-clr);
	font-family: var(--ff);
	font-size: var(--fs-p);
	margin-left: var(--spacer-lg);
}

header nav section section ul {
	/* Social media UL */
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 0em;
}

header nav section section ul li a {
	margin: 0em;
	padding: 0em;
}


i {
	color: var(--txt-clr);
	transition: 0.3s;
	font-size: var(--fs-6);
}

i:hover,
i:focus {
	color: var(--primary-clr);
}


header nav ul:last-of-type {
	/* Sitemap etc. UL */
	display: flex;
	flex-direction: row;
	gap: var(--spacer-md);
}

header nav ul:last-of-type li a {
	font-family: var(--ff);
	font-size: var(--fs-p);
	text-transform: capitalize;
}



/* FOOTER */

footer {
	margin-top: calc(var(--spacer) * 20);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer div button h2 {
	color: var(--primary-clr);
}


footer div button {
	z-index: 100;
	order: 1;
	position: relative;
	margin: 0em;
	padding: 0em;
	background: none;
	border: none;
	cursor: pointer;
	transition: transform 1s;
	overflow: hidden;
	display: block;
	/* Bron van de text animation hover hieronder: https://www.graphicpie.com/css-text-hover-effects/ > Punt 18 */
	transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);

	&::after {
		content: "Contact us";
		color: var(--primary-clr);
		font-family: var(--ff);
		font-size: var(--fs-2);
		font-weight: var(--fw-b);
		text-transform: uppercase;
		transform: translateY(100%);
		display: inline-block;
		position: absolute;
		left: 0;
		transition: inherit;
	}

	>span {
		display: inline-block;
		transform: translateY(0%);
		transition: inherit;
	}

	&:hover,
	&:focus {
		>span {
			transform: translateY(-100%);
		}

		&::after {
			transform: translateY(0%);
		}
	}

	&::after,
	span {
		padding: .8em 3.85em;
		min-width: 80px;
	}
}


footer section:first-of-type ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	gap: var(--spacer-lg);
	margin: 0em;
	padding: 0em;
}

footer address {
	width: 100%;
	margin: var(--spacer) 0em;
}

footer address marquee {
	width: 100%;
}

footer address marquee ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	gap: var(--spacer-lg);
}

footer address marquee ul li a {
	text-decoration: none;
	color: var(--txt-clr);
	font-family: var(--ff);
	font-size: var(--fs-6);
	font-style: normal;
	font-weight: var(--fw-n);
	text-transform: uppercase;
	transition: 0.3s;
}


footer address marquee ul li a:hover,
footer address marquee ul li a:focus {
	color: var(--primary-clr);
}


footer section:last-of-type p {
	text-transform: uppercase;
	margin: var(--spacer);
	font-size: calc(var(--fs-p) * 0.8);
	opacity: 0.6;
}


@media only screen and (max-width: 610px) {
	footer div button span h2 {
		font-size: var(--fs-4);
	}
}